/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: unset;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
:root {
	--main-color:#1D6154;
	--background-color: #FFFEF8;
	--main-title-color: #B1663C;
	--button-hover-color: #0E2F28;
}

body {
	max-width: 1440px;
	background-color: var(--background-color);
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	font-weight: 400;
	box-sizing: border-box;
}

section {
	margin: 50px 0
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--main-color)
}

/*--------------------------------- Barre admin ---------------------------------  */
.admin-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	width: 100%;
	margin: 0;
	background-color: black;
	color: white;
	gap: 20px;
}

.edition-group {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 16px;
}

.bx-edit {
	font-size: 25px;
}

.publish-button {
	display: flex;
	align-items: center;
	height: 60%;
	padding: 0 20px;
	border-radius: 60px;
	background-color: white;
	color: black;
	font-weight: 700;
}

.hidden {
	display: none !important;
}

/*--------------------------------- Header ---------------------------------  */
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 10.5%;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: var(--main-title-color);
	gap: 4px;
}

h1 > span {
	font-family: 'Work Sans';
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 0.05em;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	
}

header nav li {
	padding: 0 25px;
	font-size: 1.2em;
}

header nav li:hover {
	color: #000;
	font-weight: 800;
	cursor: pointer;
}

header nav li.active-page {
	color: #000;
	font-weight: 800;
}

nav li img {
	width: 20px;
	transition: all .2s ease-in;
}

nav li img:hover {
	scale: 1.2;
}

/*--------------------------------- Introduction ---------------------------------  */
#introduction {
	display: flex;
	align-items: center;
	margin: 140px 17%;
	width: 66%;
	gap: 75px;
}

.picture-container {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.picture-container .edition-group {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-top: 15px;
}

.picture-container i {
	font-size: 21px;
}

.picture-container p {
	font-size: 14px;
}

#introduction figure {
	width: 100%;
}

#introduction img {
	display: block;
	margin: auto;
	width: 100%;
}

#introduction article {
	width: 400px;
	
}
#introduction h2 {
	margin-bottom: 2rem;
}

#introduction article p {
	width: 100%;
	margin-bottom: 1rem;
	line-height: 16px;
}

/*--------------------------------- Portfolio ---------------------------------  */
#portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mes-projets {
	display: flex;
	align-items: center;
	gap: 30px;
	margin-bottom: 40px;
}

.mes-projets .edition-group {
	cursor: pointer;
}

#portfolio h2 {
	text-align: center;
}

.mes-projets i {
	font-size: 21px;
}

.mes-projets p {
	font-size: 14px;
}

/*------- Filters -------*/
.filters-category {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.filters-category li {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Syne';
	color: var(--main-color);
	background-color: #FFF;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	margin : 0;
	padding: 0 20px;
	width: fit-content;
	height: 37px;
	border: 1.5px solid;
	border-radius: 60px ;
	transition: all .2s ease-in;
	cursor: pointer;
}

.filters-category li:focus,
.filters-category li:hover,
.filters-category li.active {
	color: #FFF;
	background-color: var(--main-color);
}

/*------- Gallery -------*/
.gallery {
	width: 66%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-top: 50px;
}

.gallery img {
	width: 100%;
	margin-bottom: 5px;
}

.gallery figcaption {
	font-size: 13px;

}

/*--------------------------------- Contact ---------------------------------  */
#contact,
#form-connexion {
	width: 26%;
	margin: auto;
}

#contact > *,
#form-connexion > * {
	text-align: center;
}

#contact h2,
#form-connexion h2 {
	margin-bottom: 15px;
}

#contact > p,
#form-connexion > p {
	font-size: 16px;
}

#contact form,
#form-connexion form {
	text-align: left;
	display: flex;
	flex-direction: column;
}

#contact input,
#form-connexion input {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="email"],
input[type="password"],
input[type="text"] {
   height: 50px;
   font-size: 1.2em;

}

#contact label,
#form-connexion label {
	margin: 3em 0 0.5em 0;
	font-weight: 500;
	line-height: 16px;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"],
.modal-buttons button {
	font-family: 'Syne';
   font-size: 14px;
	font-weight: 700;
	color: white;
	background-color: var(--main-color);
	margin : 2em auto ;
	width: 180px;
   height: 36px;
	text-align: center;
	border-radius: 60px;
	transition: all .2s ease-in;
}

input[type="submit"]:hover,
.modal-buttons button:hover {
	background-color:var(--button-hover-color);
	cursor: pointer;
	transform: translateY(-2px);
}

input[type="submit"]:active {
	transform: translateY(2px);
}

/*--------------------------------- Modale ---------------------------------  */
.modal {
	position: fixed;
	margin: 0;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: none;
	opacity: 0; 
	transition: all 100ms linear;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 9999;
 }
 
 /* positionne la modale au centre de la page */
 .modal-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 17.2%;
	min-width: 380px;
	height: 620px;
	border-radius: 10px;
	background-color: white;
	z-index: 9999;
	padding: 60px 4% 50px 4%;
 }
 
 /* positionne le bouton de fermeture en haut à drotie de la modale */
 .close {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 32px;
	font-weight: bold;
	cursor: pointer;
	transition: all 250ms cubic-bezier(0.55, 0.06, 0.68, 0.19);
 }

 .close:hover {
	transform: rotate(90deg);
	text-shadow: 7px 0px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
 }

 .modal-content h2 {
	font-family: 'Work Sans' ;
	font-size: 26px;
	font-weight: 400;
	color: black;
 }

 /* -------------------------- modale galerie------------------------------- */

 /* Configure l'affichage des travaux avec display grid */
 #gallery-modal {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	/* grid-auto-rows: 120px; */
	row-gap: 10px;
	column-gap: 6px;
	padding: 40px 0 47px 0;
	border-bottom: 1px solid #b3b3b3;
	overflow-y: auto;
 }

 #gallery-modal figure {
	position: relative;
	cursor: pointer;
 }

 /* Postionne les icônes de gestion des travaux en haut à droite de chaque image */
 .modal-pic-icons {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 17px;
	height: 17px;
	background-color: black;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
 }

 .move-icon {
	right: 26px;
	display: none;
 }

 #gallery-modal .bx {
	color: white;
	font-size: 11px;
 }

 .modal-pic-icons:hover {
	background-color: rgb(97, 97, 97);
 }

 #gallery-modal figcaption {
	font-size: 12px;
 }

 #gallery-modal img {
	width: 100%;
 }

 .modal-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
 }

 .modal-buttons button {
	border: none;
	width: 230px;
 }

 .modal-buttons button:disabled {
	background-color: #A7A7A7;
 }

 .modal-buttons button:disabled:hover {
	transform: translateY(0);
	cursor: default;
 }

 .modal-buttons a {
	display: inline-block;
	color: #D65353;
	;
 }

 /* -------------------------- modale Ajout projet------------------------------- */

 /* ----- Box "Ajouter photo"  ----- */
.hidden {
	display: none;
}

.back {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 32px;
	font-weight: bold;
	cursor: pointer;
	transition: all 250ms linear;
}

.back:hover {
	color: grey;
	/* text-shadow: 1px 3px 5px rgba(0,0,0,0.3); */
 }

 .add-work > h2 {
	margin-top: 20px;
 }

#add-pic-container {
	background: #E8F1F7;
	border-radius: 3px;
	width: 100%;
	height: 170px;
}

 #new-pic-wrapper  {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height: 100%;
 }

 .image-icon {
	display: flex;
	justify-content: center;
	align-items: center;
 }

 .bx-image {
	font-size: 70px;
	color: #B9C5CC;
 }

 .input-file-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 7px;
 }

 .input-file-container p {
	font-size: 11px;
 }
 
 .label-file {
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	padding: 10px 33px;
	background: #CBD6DC;
	color: #306685;
	border-radius: 50px;
 }
 
 #uploadfile {
	display: none;
 }

 #image-preview {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: flex;
	justify-content: center;
 }

 #image-preview img {
	height: 100%;
 }

 /* ----- Champs titre et catégorie  ----- */
#form-wrapper {
	width: 100%;
}

.add-work .modal-buttons {
	width: 100%;
	border-top: 1px solid #b3b3b3;
}

 #input-pic-title {
   width: 100%;
   height: 51px;
   border: none;
   box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
   margin: 10px 0 20px 0;
   padding: 20px;
	box-sizing: border-box;
 }

#label-pic-title, 
.cat-wrapper h2 {
   font-weight: 500;
	font-size: 14px;
}

.cat-wrapper {
	position: relative;
}

.select-btn {
   max-width: 100%;
   height: 51px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
   padding: 20px;
   margin-top: 10px;
   cursor: pointer;
	box-sizing: border-box;
}

.bx-chevron-down {
   font-size: 25px;
   transition: transform 250ms linear;
}

.cat-wrapper.active .bx-chevron-down {
   transform: rotate(-180deg);
}

.select-content {
   display: none;
	position: absolute;
	z-index: 1;
   width: 100%;
   box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
   margin-top: 10px;
}

.cat-wrapper.active .select-content {
   display: block;
}

 .select-options {
	position: relative;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	overflow: auto;
	max-height: 150px;
 }

.select-options li {
   display: flex;
   align-items: center;
   list-style: none;
   height: 50px;
   padding-left: 16px;
}

.select-options li:hover {
   background-color: #f2f2f2;
   cursor: pointer;
}

/*--------------------------------- Footer ---------------------------------  */
footer {
	display: flex;
	justify-content: flex-end;
	height: 60px;
	margin-top: 45px;
}

footer nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 100px 0 0;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

footer nav li {
	font-weight: 300;
	font-size: 14px;
}

footer a:hover {
	font-weight: 800;
}

/*--------------------------------- Page Login ---------------------------------  */
#form-connexion {
   margin-bottom: 300px;
}

#form-connexion h2 {
   margin: 150px 0 0 0;
}

#form-connexion a {
   text-decoration: underline;
   text-underline-offset: 2px;
   text-decoration-thickness: 0.05em;
   font-size: 14px;
   transition: all .3s;
}

#form-connexion a:hover {
   font-weight: 800;
}